<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SolicitudHSMSole</servlet-name>
        <servlet-class>hsmRequestService.servlets.SolicitudHSMSole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hsmRequestAgentFinder</servlet-name>
        <servlet-class>hsmRequestService.servlets.hsmRequestAgentFinder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hsmCheckHsmRgstryDate</servlet-name>
        <servlet-class>hsmRequestService.servlets.hsmCheckHsmRgstryDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SolicitudHSMSole</servlet-name>
        <url-pattern>/SolicitudHSMSole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hsmRequestAgentFinder</servlet-name>
        <url-pattern>/hsmRequestAgentFinder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hsmCheckHsmRgstryDate</servlet-name>
        <url-pattern>/hsmCheckHsmRgstryDate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
